h2 {
  margin-top: 2.2rem !important;
}

h3 {
  margin-top: 1.8rem !important;
}

blockquote {
  background: var(--page-background) !important;
  border-left: 8px solid var(--sidebar-background) !important;
}
